.container{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.form{
    margin: 50px;
    padding: 40px;
    border-top: 6px solid;
    border-top-color: rgb(80, 55, 245);
    height:410px;
    text-align: center;   
}
.btn-primary{
    margin-bottom: 20px;;
}
span.btnspan{
    margin-top:20px;
}
.forms{
    margin: 50px;
    padding: 40px;
    border-top: 6px solid;
    border-top-color: rgb(80, 55, 245);
    height:330px;
    text-align: center;   
}
.containlogout{
    margin-top: 150px;
    padding: 50px;  
}
.h1, h1{
    margin-top:0px;
}
span.text{
    padding-bottom:10px;
}
.log{
    margin-top:16px;
}
.h1, .h2, .h3, h1, h2, h3{
    margin-top:20px;
    color:rgb(13, 4, 9);
}
